* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

.slideWrapper {
  overflow: hidden;
}

.slideItems {
  display: flex;
}

.slideItems li {
  flex-shrink: 0;
  width: 80vw;
  max-width: 800px;
  margin: 0 24px;
}